@page
<div style="
display:flex;
flex-flow:column;height:calc(100% - 40px);
padding:20px;
font-family:monospace;
color:#ffffff;
background-color:#220022;">
    <div style='font-size:80px;'>
        Crykit
    </div>
    <br/>
    <div>
        Crykit is a simple chat application primarily focused on privacy.<br/><br/>
        It uses end-to-end encryption even over the standard
        unencrypted http protocol, meaning nobody, not even the server host, 
        can see your messages.<br/>
        <br/>
        Usage:<br/>
        <br/>
        To use Crykit, simply choose a "secret" to share with the people you want to chat with.
        This secret acts like a passcode, so only the people who know it can see your messages.
        Type your secret into the "Set Secret" text box and press enter.
        <br/>
        <br/>
        When you're in the "public" channel, the messages you send are sent with the secret "crykit".
        You can't change it - this is to allow people to talk in a public room without agreeing on a
        secret beforehand.
        <br/>
        <br/>
        Next, choose a channel. This just lets you only see the messages you want to see -
        it's important to note that anyone can see that you're messaging here, but your
        messages themselves are still protected with your secret.
        <br/>
        <br/>
        Finally, choose a name to use and type this into the "User" box. This will show who you
        are to the people you want to message. Remember, anyone with your secret can choose
        whatever name they want, even yours, so make sure you trust them!
        <br/>
        <br/>
        Type the messages you want to send into the "Message" box, and press enter or the 
        "Send Message" button. This sends your message to your channel, and anyone with 
        the secret can see it.
        <br/>
        <br/>
        <a href="../">Return</a>
    </div>
</div>